In [1]:
import pandas
import datetime
import numpy
import time
import bs4
import urllib
import seaborn
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
from matplotlib.colors import ListedColormap
%matplotlib inline

In [2]:
# get dst index vals from wdc kyoto website
# create a list of dates with monthly freq
date_dst_arr = []
dst_val = []
dst_time_del = datetime.timedelta(hours = 1)
start_date = datetime.datetime(2011,1,1)
end_date = datetime.datetime(2014,12,31)
daterange = pandas.date_range(start_date, end_date, freq="M")
for dt in daterange:
    if dt.month <= 9:
            monthStr = "0" + str(dt.month)
    else:
        monthStr = str(dt.month)
    if dt.year >= 2015:
        # create the url
        currUrl = "http://wdc.kugi.kyoto-u.ac.jp/" + "dst_realtime" + \
            "/" + str(dt.year) + monthStr + "/index.html"
    elif ( (dt.year > 2011) and (dt.year < 2015) ):
        # create the url
        currUrl = "http://wdc.kugi.kyoto-u.ac.jp/" + "dst_provisional" + \
            "/" + str(dt.year) + monthStr + "/index.html"
    else:
        # create the url
        currUrl = "http://wdc.kugi.kyoto-u.ac.jp/" + "dst_final" + \
            "/" + str(dt.year) + monthStr + "/index.html"
    conn = urllib.urlopen(currUrl)
    htmlSource = conn.read()
    soup = bs4.BeautifulSoup(htmlSource, 'html.parser')
    dataResObj = soup.find("pre", { "class" : "data" })
    # get the data as a list of strings after removing white space
    lines = dataResObj.text.strip().splitlines()
    for line in lines[6:]:
        columns = line.split()
        if len( columns ) > 0. :
            date_dst_arr.append( datetime.datetime( \
                dt.year, dt.month, int(columns[0]), 1 ) )
            for cols in range( len( columns[1:] ) ) :
                try:
                    inNumberFloatTest = float(columns[cols + 1])
                except:
                    # split these cols as well and work on them!
                    try:
                        missedCols = columns[cols + 1].split("-")[1:]
                        if len(missedCols) >= 1:
                            for mcols in missedCols:
                                dst_val.append( -1*float( mcols ) )
                                # now since we added the date earlier we need to be
                                # careful about appending date values
                                if ( len(date_dst_arr) != len(dst_val) ):
                                    date_dst_arr.append ( date_dst_arr[-1] + dst_time_del )
                    except:
                        print "something wrong with messed up vals!-->", columns[cols + 1]
                        continue
                    continue
                # I have to do this because of the messed up way Kyoto puts up the latest dst value..
                # mixed with 9999 (fillers) like if latest dst is 1 then Kyoto puts it as 199999.....
                if len( columns[ cols + 1 ] ) < 5 :
                    dst_val.append( float( columns[ cols + 1 ] ) )
                elif ( len( columns[ cols + 1 ] ) > 5 and columns[ cols + 1 ][0:3] != '999' ) :
                    mixed_messed_dst = ''
                    for jj in range(5) :
                        if columns[ cols + 1 ][jj] != '9' :
                            mixed_messed_dst = mixed_messed_dst + columns[ cols + 1 ][jj]

                    if mixed_messed_dst != '-' :
                        dst_val.append( float( mixed_messed_dst ) )
                    else :
                        dst_val.append( float( 'nan' ) )
                else :
                    dst_val.append( float( 'nan' ) )
                if cols > 0 :
                    date_dst_arr.append ( date_dst_arr[-1] + dst_time_del )
# convert dst data to a dataframe
dstDF = pandas.DataFrame(
    {'dst_date': date_dst_arr,
     'dst_index': dst_val
    })
dstDF.head()

             dst_date  dst_index
0 2011-01-01 01:00:00      -11.0
1 2011-01-01 02:00:00      -11.0
2 2011-01-01 03:00:00       -9.0
3 2011-01-01 04:00:00       -5.0
4 2011-01-01 05:00:00       -3.0

In [3]:
# file containing saps data --> date, time, sapsLat, sapsMLT, sapsVel, radId, poesLat, poesMLT
#file_sapsdata = "/Users/bharat/Desktop/saps-north-2011-2012.txt"
file_sapsdata = "../data/rawsaps-north-2011-2014.txt"
# store the data to convert it to DF later
allData = []
# open and read through the file
fs = open(file_sapsdata, 'r')
# only take data from mid-latitude radars
midlatRadIds = [209, 208, 33, 207, 206, 205, 204, 32]
for line in fs:
    line = line.strip()
    columns = line.split()
    
    dt_ind = time.strptime( columns[0], "%Y%m%d" )
    hh_ind = int(int(columns[1])/100)
    mm_ind = int(int(columns[1]) % 100)
    currDt = datetime.datetime( dt_ind.tm_year, dt_ind.tm_mon, dt_ind.tm_mday, hh_ind, mm_ind )
    allData.append( [ columns[0] + "-" + columns[1], currDt, columns[0], \
                     float( columns[2] ), float( columns[3] ), float( columns[4] ), \
                     float( columns[5] ), float( columns[6] ), float( columns[7] ) ] )  
fs.close()
# store data in a DF
sapsRawDF = pandas.DataFrame(allData)
sapsRawDF.columns = [ "dateTimeString", "date", "dateStr", "sapsLat", \
                     "sapsMLT", "sapsVel", "radId", "poesLat", "poesMLT" ]
# count number of unique dates present in the raw DF
uniqSapsDates = sapsRawDF["dateStr"].unique().tolist()
print "num of unique(total) dates--->", len(uniqSapsDates)
sapsRawDF.head()

num of unique(total) dates---> 1320

,dateTimeString,date,dateStr,sapsLat,sapsMLT,sapsVel,radId,poesLat,poesMLT
0,20110101-100,2011-01-01 01:00:00,20110101,61.5,2.7764,336.5572,10.0,65.4015,3.0
1,20110101-230,2011-01-01 02:30:00,20110101,61.5,4.5593,254.1402,10.0,66.2104,5.0
2,20110101-700,2011-01-01 07:00:00,20110101,54.5,1.7927,639.8867,33.0,67.2811,2.0
3,20110101-700,2011-01-01 07:00:00,20110101,54.5,1.9076,650.9573,33.0,67.2811,2.0
4,20110101-700,2011-01-01 07:00:00,20110101,55.5,1.8949,653.0461,33.0,67.2811,2.0

In [6]:
file_alldata = "/home/bharat/Documents/data/filtered-mid-lat-data-north-2011-2014.txt"
allData = []
# open and read through the file
fs = open(file_alldata, 'r')
for line in fs:
    line = line.strip()
    columns = line.split()
    
    dt_ind = time.strptime( columns[0], "%Y%m%d" )
    hh_ind = int(int(columns[1])/100)
    mm_ind = int(int(columns[1]) % 100)
    currDt = datetime.datetime( dt_ind.tm_year, dt_ind.tm_mon, dt_ind.tm_mday, hh_ind, mm_ind )
    # Only choose SAPS dates
    if columns[0] not in uniqSapsDates:
        continue
    if len(columns) != 8:
        print "wrong!!!-->", columns
        print "--------------------------------------"
        print line
    allData.append( [ columns[0] + "-" + columns[1], currDt, columns[0], \
                     float( columns[2] ), float( columns[3] ), float( columns[4] ), \
                     float( columns[5] ), float( columns[6] ), float( columns[7] ) ] )  
fs.close()
allRawDF = pandas.DataFrame(allData)
allRawDF.columns = [ "dateTimeString", "date", "dateStr", "sapsLat", \
                     "sapsMLT", "sapsVel", "radId", "poesLat", "poesMLT" ]
# count number of unique dates present in the raw DF
uniqRawDates = allRawDF["dateStr"].unique().tolist()
print "num of unique(total) dates--->", len(uniqRawDates)
allRawDF.head()

              0                   1         2     3    4         5     6  \
0  20110101-200 2011-01-01 02:00:00  20110101  53.5 -1.0  198.2172  33.0
1  20110101-700 2011-01-01 07:00:00  20110101  54.5 -1.0  639.8867  33.0
2  20110101-700 2011-01-01 07:00:00  20110101  54.5 -1.0  650.9573  33.0
3  20110101-700 2011-01-01 07:00:00  20110101  55.5 -1.0  653.0461  33.0
4  20110101-700 2011-01-01 07:00:00  20110101  53.5 -1.0  638.6191  33.0

      7     8
0  90.0  90.0
1  90.0  90.0
2  90.0  90.0
3  90.0  90.0
4  90.0  90.0
num of unique(total) dates---> 1320

,dateTimeString,date,dateStr,sapsLat,sapsMLT,sapsVel,radId,poesLat,poesMLT
0,20110101-200,2011-01-01 02:00:00,20110101,53.5,-1.0,198.2172,33.0,90.0,90.0
1,20110101-700,2011-01-01 07:00:00,20110101,54.5,-1.0,639.8867,33.0,90.0,90.0
2,20110101-700,2011-01-01 07:00:00,20110101,54.5,-1.0,650.9573,33.0,90.0,90.0
3,20110101-700,2011-01-01 07:00:00,20110101,55.5,-1.0,653.0461,33.0,90.0,90.0
4,20110101-700,2011-01-01 07:00:00,20110101,53.5,-1.0,638.6191,33.0,90.0,90.0

In [11]:
# Instead of the daywise thing we'll do an hourwise analysis too!
fullDatesDstGrps = allRawDF.groupby(["dateStr", "hour"])
minDstFullDataHourwise = fullDatesDstGrps["dst_index"].aggregate(lambda x: set(tuple(x))).reset_index()
# print minDstAllDataHourwise
# Below is just a sanity check to verify the joins are working fine
# Basically we shouldn't have more than 1 Dst index
minDstFullDataHourwise["checkSameDst"] = minDstFullDataHourwise["dst_index"].map(\
                                    lambda x: len(x) > 1 )
if (minDstFullDataHourwise[ minDstFullDataHourwise[ "checkSameDst" ] == True ]["dst_index"].count() == 0):
    print "JOIN WENT WELL LOOKE FINE!"
else:
    print "NEED TO CHECK THE CODE! MAJORRRR PROBLEMMMMM!"
minDstFullDataHourwise["dst_index"] = minDstFullDataHourwise["dst_index"].map(\
                                    lambda x: x.pop() )

KeyError: 'hour'