In [1]:
import pandas

In [34]:
def convert_to_datetime(row):
    if row["time"] < 10:
        currTimeStr = "000" + str( int( row["time"] ) )
    elif row["time"] < 100:
        currTimeStr = "00" + str( int( row["time"] ) )
    elif row["time"] < 1000:
        currTimeStr = "0" + str( int( row["time"] ) )
    else:
        currTimeStr = str( int( row["time"] ) )
    return currTimeStr

inpFile = "../data/XuelingSaps.txt"
dataDF = pandas.read_csv(inpFile, sep=' ')
dataDF["radId"] = dataDF["radId"].astype('category')
# Order of radar arrays is given below
#[32.0, 33.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0]
radNameArr = [ "wal", "bks", "fhw", "fhe", "cvw", "cve", "adw", "ade" ]
dataDF["catIndex"] = dataDF[[ "radId" ]].apply(lambda x: x.cat.codes )
dataDF["radNames"] = dataDF["catIndex"].map(lambda x: radNameArr[x] )
dataDF = dataDF.drop(["catIndex"], 1)
dataDF.head()

    dateStr  time  radId radNames
0  20110205   230  206.0      cvw
1  20110205   230  207.0      cve
2  20110205   230  205.0      fhe
3  20110205   230   33.0      bks
4  20110205   300  206.0      cvw