In [105]:
import pandas
import mysql.connector
import bokeh
import numpy

In [44]:
conn = mysql.connector.Connect(host='localhost',user='root',\
                        password='',database='geoindices')
qryDst = "SELECT * FROM dst"
dstDF = pandas.read_sql( qryStockNames, conn )
print dstDF.head()

                 date  dst_index
0 2000-01-01 01:00:00        -46
1 2000-01-01 02:00:00        -38
2 2000-01-01 03:00:00        -38
3 2000-01-01 04:00:00        -42
4 2000-01-01 05:00:00        -45

In [136]:
# add year, month and day columns
dstDF['year'] = dstDF['date'].map(lambda x: x.year)
dstDF['month'] = dstDF['date'].map(lambda x: x.month)
dstDF['day'] = dstDF['date'].map(lambda x: x.day)
print dstDF.head()

                 date  dst_index  year  month  day
0 2000-01-01 01:00:00        -46  2000      1    1
1 2000-01-01 02:00:00        -38  2000      1    1
2 2000-01-01 03:00:00        -38  2000      1    1
3 2000-01-01 04:00:00        -42  2000      1    1
4 2000-01-01 05:00:00        -45  2000      1    1

In [135]:
dst2016 = dstDF#[ (dstDF['year'] == 2016) & (dstDF['month'] == 1) ]
dst2016Grp = dst2016.groupby( ['year', 'month', 'day'] )
minDst = dst2016Grp.min()
minDst.reset_index(level=['year', 'month','day'],inplace=True)
resDF = pandas.merge( minDst, dst2016,\
                         on=['dst_index','year','month','day'], how='inner' )
resDF.drop('date_x', axis=1, inplace=True)
resDF.rename(columns={'date_y': 'date'}, inplace=True)
print resDF.head(10)

   year  month  day  dst_index                date
0  2000      1    1        -46 2000-01-01 01:00:00
1  2000      1    2        -29 2000-01-02 06:00:00
2  2000      1    3        -23 2000-01-03 05:00:00
3  2000      1    3        -23 2000-01-03 07:00:00
4  2000      1    4        -24 2000-01-04 14:00:00
5  2000      1    5        -34 2000-01-05 08:00:00
6  2000      1    5        -34 2000-01-05 10:00:00
7  2000      1    6        -37 2000-01-06 15:00:00
8  2000      1    7        -30 2000-01-07 05:00:00
9  2000      1    8        -19 2000-01-08 13:00:00

In [138]:
resDF.drop_duplicates(['year', 'month','day'],inplace=True)
resDF.reset_index(inplace=True)
print resDF.head(10)

    year  month  day  dst_index                date
0   2000      1    1        -46 2000-01-01 01:00:00
1   2000      1    2        -29 2000-01-02 06:00:00
2   2000      1    3        -23 2000-01-03 05:00:00
4   2000      1    4        -24 2000-01-04 14:00:00
5   2000      1    5        -34 2000-01-05 08:00:00
7   2000      1    6        -37 2000-01-06 15:00:00
8   2000      1    7        -30 2000-01-07 05:00:00
9   2000      1    8        -19 2000-01-08 13:00:00
10  2000      1    9        -11 2000-01-09 04:00:00
11  2000      1   10         -8 2000-01-10 23:00:00